<!DOCTYPE html>
<html>
    <head>
        <title>Demoing Python Django - Question details</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    </head>
<body> 
    <div class="container">
        <div class="jumbotron">
            <h3>Question details</h3>
            <hr>
            
            {% if question %}
                               
                <span class="alert alert-info">{{ question.publi_date}}: {{ question.content }}</span>               
               
            {% else %}
                <p>No data recorded yet for this question.</p>
            {% endif %}
            
            <div>
                <a class="btn btn-success" href="/polls/">List</a>
            </div>
        </div>
    </div>
</body>   
</html>

