<!DOCTYPE html>
<html>
    <head>
        <title>Demoing Python Django - Question details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    </head>
<body> 
    <div class="container">
        <div class="jumbotron">
            <h3>Question details</h3>
            <hr>
            <div>
                {% if question %}                                
                    <p>{{ question.publi_date}}: {{ question.content }}</p>               
                    <ul>                        
                        {% for c in question.choice_set.all %}
                            <li>{{ c.choice }} => {{ c.votes }} votes </li>
                        {% empty %}
                            <li>No choices recorded yet</li>
                        {% endfor %}
                    </ul>

                    {% if error_msg %}<p class="alert alert-warning">{{ error_msg }}</p>{% endif %}
                    
                    <form action="{% url 'vote' question.id %}" method="post" class="form-horizontal">
                        {% csrf_token %}

                        {% for choice in question.choice_set.all %}
                        <div class="form-group">
                            <div class="form-check">
                            <label for="choice{{ forloop.counter }}" class="col-form-label">{{ choice.choice }}</label>
                                
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-sm-6">
                            <input type="submit" class="btn btn-large" value="Vote" />
                        </div>
                    </form>

                {% else %}
                    <p>No data recorded yet for this question.</p>
                {% endif %}
            </div>

            <div class="col-sm-6">
                <a class="btn btn-warning" href="/polls/">List</a>
            </div>
        
        </div>
    </div>
</body>   
</html>
