<!DOCTYPE html>
<html>
    <head>
        <title>Demoing Python Django - Error</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    </head>
<body> 
    <div class="container">
        <div class="jumbotron">
            <h3>Error</h3>
       
            <div class="alert alert-warning">
                {% error_msg %}
            </div>

            <div>
                <a class="btn btn-success" href="/polls/">List</a>
            </div>
        </div>
    </div>
</body>   
</html>

