<!DOCTYPE html>
<html>
    <head>
        <title>Demoing Python Django</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
    </head>
<body> 
    <div class="container">
        <div class="jumbotron">
            <h3>Latest list of Questions</h3>
            <hr>
            
            {% if qlist %}
                <ul>
                {% for q in qlist %}
                    <li>{{ q.publi_date}}: <a href="/polls/{{q.id}}/">{{ q.content }}</a></li>
                {% endfor %}
                </ul>

            {% else %}
                <p>No questions data recorded yet.</p>
            {% endif %}
        </div>
    </div>
</body>   
</html>
